<h2>Create an account</h2>

<form class="form create-account-form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input class="form-input" type="text" id="name" name="name" />
  </div>
  <div class="form-group">
    <label for="email">Email:</label>
    <input class="form-input" type="email" id="email" name="email" />
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input class="form-input" type="password" id="password" name="password" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Create Account</button>
  </div>
</form>

<a href="/login">Return to log in</a>

<script src="/js/create.js"></script>
