{{#each recipes as |recipe| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{recipe.name}} {{recipe.ingredients}} {{recipe.method}} {{recipe.category}}</h2>
  </div>
</div>
{{/each}}
