<h2>Account Login</h2>

<form class="form login-form">
  <div class="form-group">
<<<<<<< HEAD
    <label for="email-login" class="label-text">email:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login" class="label-text">password:</label>
=======
    <label for="email-login">e-mail:</label>
    <input class="form-input" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Password:</label>
>>>>>>> 1c3031493b0cf6d9d0f72ffbe604152897b74635
    <input class="form-input" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="uk-button uk-button-primary" type="submit">Login</button>
  </div>
</form>

<span>Don't have an account?</span> <a href="/create-account">Create an account</a>

<script src="/js/login.js"></script>
